### Import libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score,root_mean_squared_error

In [4]:
# load dataset
data=pd.read_csv("Data Science Job Salaries.csv")

In [5]:
data.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [6]:
data.shape

(607, 12)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [19]:
data.drop(columns ='Unnamed: 0',inplace=True)

In [21]:
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [22]:
data.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [23]:
data.job_title.nunique()

50

In [32]:
data.job_title.value_counts().head(10).values.sum()

475

In [36]:
# Here in the job title we are going with these job title for ml
data.job_title.value_counts().head(10).index

Index(['Data Scientist', 'Data Engineer', 'Data Analyst',
       'Machine Learning Engineer', 'Research Scientist',
       'Data Science Manager', 'Data Architect', 'Big Data Engineer',
       'Machine Learning Scientist', 'Principal Data Scientist'],
      dtype='object', name='job_title')

In [55]:
data=data[data['job_title'].isin([
    'Data Scientist', 'Data Engineer', 'Data Analyst',
    'Machine Learning Engineer', 'Research Scientist',
    'Data Science Manager', 'Data Architect', 'Big Data Engineer',
    'Machine Learning Scientist', 'Principal Data Scientist'
])]

In [83]:
ml_data=data[['experience_level', 'employment_type','remote_ratio', 'company_size', 'salary_in_usd']]

#### Data Preprocessing and Model Traning

In [85]:
ml_data.dtypes

experience_level    object
employment_type     object
remote_ratio         int64
company_size        object
salary_in_usd        int64
dtype: object

In [86]:
# label encoding
le=LabelEncoder()

for i in ml_data.columns:
    if i!='salary_in_usd':
        ml_data[i]=le.fit_transform(ml_data[i])

C:\Users\PRANAY\AppData\Local\Temp\ipykernel_8640\3619762800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_data[i]=le.fit_transform(ml_data[i])
C:\Users\PRANAY\AppData\Local\Temp\ipykernel_8640\3619762800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_data[i]=le.fit_transform(ml_data[i])
C:\Users\PRANAY\AppData\Local\Temp\ipykernel_8640\3619762800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_data[i]=le.fit_transform(ml_data[i])
C:\Users\PRANAY\AppData\Local\Temp\ipykernel_8640\3619762800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_data[i]=le.fit_transform(ml_data[i])

In [87]:
ml_data.head()

,experience_level,employment_type,remote_ratio,company_size,salary_in_usd
0,2,2,0,0,79833
1,3,2,0,2,260000
2,3,2,1,1,109024
4,3,2,1,0,150000
5,0,2,2,0,72000

In [88]:
ml_data.corr()

,experience_level,employment_type,remote_ratio,company_size,salary_in_usd
experience_level,1.000000,-0.053275,0.054798,-0.039665,0.381236
employment_type,-0.053275,1.000000,-0.016055,-0.043300,-0.149201
remote_ratio,0.054798,-0.016055,1.000000,0.021909,0.151594
company_size,-0.039665,-0.043300,0.021909,1.000000,-0.078304
salary_in_usd,0.381236,-0.149201,0.151594,-0.078304,1.000000

In [89]:
X = ml_data.drop(columns=["salary_in_usd"])  # Features
y = ml_data["salary_in_usd"]  # Target

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [91]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [92]:
y_pred = model.predict(X_test)

In [93]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R²): {r2}")

Mean Absolute Error (MAE): 48999.7540526976
Mean Squared Error (MSE): 5614001503.651853
Root Mean Squared Error (RMSE): 74926.64081387776
R-squared (R²): 0.03205077512652543

In [94]:
y_test

488    100000
549    160000
14      85000
116     50000
467    104890
        ...
543     99100
62      21669
291    120600
233    200000
339    109280
Name: salary_in_usd, Length: 95, dtype: int64

In [95]:
len(y_pred)

95

In [96]:
perf_df=pd.DataFrame()
perf_df['Actual']=y_test
perf_df['Predicted']=y_pred

In [97]:
perf_df

     Actual      Predicted
488  100000   84985.785960
549  160000  131022.575750
14    85000  115758.793199
116   50000  115758.793199
467  104890  131022.575750
..      ...            ...
543   99100   87695.589270
62    21669   65714.713618
291  120600  131022.575750
233  200000  139079.891251
339  109280  131022.575750

[95 rows x 2 columns]